<div class="container ">
  <div class="row">
    <div class="col-md-6 mt-4">
         <form #signUpForm = 'ngForm' (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="userName">UserName*</label>
                <input type="text"  class="form-control"  ngModel name="userName" #userName="ngModel" required pattern="[A-Za-z]+" minlength="9" maxlength="14">
                <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required')">UserName is required field.</strong>
                <ng-container *ngIf="userName.dirty">
                     <strong class="text-danger" *ngIf="userName.hasError('pattern')">
                      userName should have alphabets .
                </strong>
                <strong class="text-danger" *ngIf="userName.hasError('minlength')">
                    Please enter  {{userName.errors?.['minlength'].requiredLength -userName.errors?.['minlength'].actualLength}} more character
                </strong>
                </ng-container>
              
                  <strong class="text-danger" *ngIf="userName.value?.length == 14">
                    Username should not more than 14 character.
                </strong>
              </div>   
               <div class="form-group">
                <label for="email">Email*</label>
                <input type="text" class="form-control"  ngModel name="email" #email="ngModel" required pattern="[a-zA-Z0-9.*%±]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}">
                <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                   Email should be required field.
                </strong>
                  <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                   Please enter propper Email.
                </strong>
              </div>
             <button mat-raised-button color="accent" class="btn-block">Submit</button>
         </form>
    </div>
  </div>
</div>